@import url(//db.onlinewebfonts.com/c/4053837519f2a20cd733848fc1f9aa03?family=Lucida+Calligraphy);
.picture{
    /* background-image: url('../../assets/Home/profile.jpeg'); */
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
}


.hello{
    font-family: "Lucida Calligraphy";
    color: #c92121;
    font-Weight: bold;
    font-Size: 35px ;
}

.skills-header {
    font-size: 60px;
    line-height: normal;
    font-family: "Google Sans Regular";
    text-align: center;
    
  }
.skills-title{
    font-size: larger;
    font-family: 'Lucida Calligraphy';
    text-align: center;
    margin-bottom: 30px;
}

  @media (max-width: 1380px) {
    .educations-header {
      font-size: 35px;
    }
  }
  
  @media (max-width: 768px) {
    .educations-header {
      font-size: 30px;
    }
  }
  
   /* Education */
    
    .education{
    width: 100%;
    padding: 35px 10%;
    min-height: 100vh;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .col header.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #231942;
    padding: 0px 0px 20px 30px;
    }
    
    .col .ed_contents{
    padding: 0px 30px;
    border-left: 2px solid #bababa;
    }
    
    .col .ed_contents .box{
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
    }
    
    .col .ed_contents .box:hover{
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;
    }

    .col .ed_contents .box::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #11a372;
    border: 2px solid white;
    }
    
    .box h4{
    position: relative;
    color: #231942;
    }
    
    .box h3{
    font-size: 19px;
    padding: 10px 0px 6px;
    font-family: helvetica;
    color: #444;
    }
    
    .box p{
    line-height: 1.2;
    color: #666;
    font-size: 17px;
    }
    

    @media(max-width: 768px){
      main-row{
      grid-template-columns: 1fr;
      }
      .row .col:nth-child(2){
      margin-top: 30px;
      }
      }
    

  /* Certifications */
  .cert-card {
    width: 100%;
    height: auto;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #d9dbdf;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #d9dbdf;
    margin-bottom: 30px;
    flex: 0 0 100%;
  }
  
  .cert-header {
    margin: 0px;
    border-radius: 5px 5px 0px 0px;
  }
  .main{
    margin-left: 40px;
    margin-right: 40px;
  }
  .logo_imgs {
    margin: 3px;
    width:auto;
    height: 100px;
  }
  
  .cert-body {
    margin: 0px;
  }
  
  .cert-body-title {
    font-family: "Google Sans Regular";
    font-size: 20px;
    color: black;
    margin: 10px;
  }
  
  .cert-body-subtitle {
    font-family: "Google Sans Regular";
    font-size: 18px;
    color: #808080;
    margin: 10px;
  }
  
  .content {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  .content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay {
    opacity: 1;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details h3 {
    color: #fff;
    font-weight: 500;
    font-family: "Google Sans Regular";
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  
  .fadeIn-top {
    top: 20%;
  }
  
  @media (max-width: 1380px) {
  }
  
  @media (max-width: 768px) {
    .cert-card {
      width: 100%;
    }
  }
  

 